<div class="row">
    <div class="container mb-5 px-3 col-lg-6 clo-md-6 col-sm-12 animated slideInDown">        
        <form [formGroup]="formGroup" (submit)="onRegister()"novalidate style="margin: auto; width:100%;" class="mt-5 px-4 py-5">
            <h1>Register</h1>
            
            <div class="mb-3">
                <label for="InputName" class="form-label">Name</label>
                <input  type="name" formControlName="name" class="form-control" id="name" placeholder="Enter your Name" [class.is-valid]="(formGroup.controls.name?.dirty
                ||formGroup.controls.name?.touched)&&formGroup.controls.name?.valid"
            [class.is-invalid]="(formGroup.controls.name?.dirty
            ||formGroup.controls.name?.touched)&& formGroup.controls.name?.invalid" >
    
                <div *ngIf="!formGroup.controls.name?.valid && (formGroup.controls.name?.dirty
                ||formGroup.controls.name?.touched)">
                    
                     <small class="text-danger"[hidden]="formGroup.hasError('minLength')">
                      *Password length should be greater than 3.
                    </small>
    
                    <small class="text-danger"[hidden]="formGroup.hasError('required')">
                      *This field is required.
                    </small>
    
    
                 </div>
            </div>
    
    
            <div class="mb-3">
              <label for="InputEmail" class="form-label">Email address</label>
              <input type="email" formControlName="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your Email Id"[class.is-valid]="(formGroup.controls.email?.dirty
              ||formGroup.controls.email?.touched)&&formGroup.controls.email?.valid"
          [class.is-invalid]="(formGroup.controls.email?.dirty
          ||formGroup.controls.email?.touched)&& formGroup.controls.email?.invalid">
          <ng-container *ngIf="!formGroup.controls.email?.valid && (formGroup.controls.email?.dirty
          ||formGroup.controls.email?.touched)">
          
          <div class="text-danger" *ngIf="formGroup.controls.email.errors?.required">
            *This field is required.
          </div>
          <div class="text-danger" *ngIf="formGroup.controls.email.errors?.pattern">
          *wrong Email Format
          </div>
          <div class="text-danger" *ngIf="formGroup.controls.email.errors?.emailCheck">
            *wrong Email Format
            </div>  
        </ng-container>
             
            </div>
    
            <div class="mb-3">
              <label for="InputPassword" class="form-label">Password</label>
              <input type="password" formControlName="password" class="form-control" id="exampleInputPassword1" placeholder="Enter Password" [class.is-valid]="(formGroup.controls.password?.dirty
              ||formGroup.controls.password?.touched)&&formGroup.controls.password?.valid"
          [class.is-invalid]="(formGroup.controls.password?.dirty
          ||formGroup.controls.password?.touched)&& formGroup.controls.password?.invalid">
              <div *ngIf="!formGroup.controls.password?.valid && (formGroup.controls.password?.dirty
              ||formGroup.controls.password?.touched)">
                <small class="text-danger"[hidden]="formGroup.hasError('required')">
                  *This field is required.
                </small>
            </div>
            </div>
    
    
            <div class="mb-3">
                <label for="InputPassword2" class="form-label">Confirm Password</label>
                <input type="password" formControlName="passwordConfirm" class="form-control" id="InputPassword2" placeholder="Confirm Password"[class.is-valid]="(formGroup.controls.passwordConfirm?.dirty
                ||formGroup.controls.passwordConfirm?.touched)&&formGroup.controls.passwordConfirm?.valid"
            [class.is-invalid]="(formGroup.controls.passwordConfirm?.dirty
            ||formGroup.controls.passwordConfirm?.touched)&& formGroup.controls.passwordConfirm?.invalid" >
                
                <div *ngIf="!formGroup.controls.passwordConfirm?.valid && (formGroup.controls.passwordConfirm?.dirty||formGroup.controls.passwordConfirm?.touched)">
                  <small class="text-danger"[hidden]="formGroup.hasError('confirmedValidator')">
                    *Password mismatch
                  </small>
                  <small class="text-danger"[hidden]="formGroup.hasError('required')">
                    *This field is required.
                  </small>
              </div>
              </div>
    
            <div class="mb-3 form-check">
              <input  type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Terms & Conditions</label>
            </div>
            <button id="register" class="btn btn-warning" [disabled]="formGroup.invalid" type="submit" type="submit" class="btn btn-primary" style="width: 100%;">Register</button>
            <button id="register" type="submit" routerLink="/login" class="mt-4 btn btn-warning" style="width: 100%;">Click Here to Login</button>
          </form>
        </div>
      </div>